html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #FAF3E0;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.cloumn {
    display: flex;
    flex-direction: column;
}

button {
    height: 50px;
    width: 80px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 5px 5px gray;
    margin-left: 50px;
    margin-top: 150px;
    transition: all 0.3s ease;
}

button:hover {
    box-shadow: -10px 5px 10px gray;
    transform: translateX(-5px);
}

header img {
    max-height: 120px;
}

.top {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(154, 241, 154);
}

form {
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 6px 6px 15px gray;
    margin-left: 20px;
    margin-top: 20px;
    min-height: 400px;
    display: flex;
}

textarea {
    max-width: 493px;
    min-width: 300px;
    max-height: 200px;
    min-height: 50px;
}

input:invalid {
    border-color: #FF7F7F;
    box-shadow: 0px 0px 3px #FF7F7F;
}

nav {
    display: flex;
    align-items: center;
    font-size: 25px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a{
    padding: 5px;
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

a:hover {
    background-color: rgb(79, 180, 79);
}

a.actual {
    background-color: rgb(79, 180, 79);
}

footer {
    background-color: rgb(154, 241, 154);   
    display: flex;
    justify-content:space-between;
    align-items: center;
}

footer p {
    padding: 10px;
}

footer img {
    margin-right: 15px;
}

footer img:hover {
    height: 50px;
    width: 50px;
}

footer ul li a{
    text-decoration: none;
    color: black;
}