html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    background-color: #FAF3E0;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

main section {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

div ol li {
    font-size: 20px;
}

div h3 {
    margin-left: 15px;
}

.columna {
    box-shadow: -5px -5px 10px gray;
    border: solid black 1px;
    padding: 40px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}

.contenedor2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

div button {
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
}

button:hover {
    background-color: lightgray;
}

.malo:hover {
    opacity: 0%;
    visibility: hidden;
}

header img {
    max-height: 120px;
}

.top {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(154, 241, 154);
}

nav {
    display: flex;
    align-items: center;
    font-size: 25px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a{
    padding: 5px;
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

a:hover {
    background-color: rgb(79, 180, 79);
}

a.actual {
    background-color: rgb(79, 180, 79);
}

footer {
    background-color: rgb(154, 241, 154);   
    display: flex;
    justify-content:space-between;
    align-items: center;
}

footer p {
    padding: 10px;
}

footer img {
    margin-right: 15px;
}

footer img:hover {
    height: 50px;
    width: 50px;
}

footer ul li a{
    text-decoration: none;
    color: black;
}